

<div class="align-content-center">
    @foreach (var paymentType in Model.PaymentsInfo)
    {
        <h3 class="m-2">@paymentType.Name</h3>
        <hr style="margin:auto" width="20%"/>
        var counter = 1;
        foreach (var payment in paymentType.CurrentPayments)
        {
            string isPaid = payment.IsPaidFor ? "Is Paid" : "Is Not Paid"; 
            <h4 class="d-inline-block">@counter. @payment.Name - @payment.Cost - @isPaid</h4>
            if (!payment.IsPaidFor)
            {
                <button type="button" class="btn m-lg-2 btn-success rounded-3" style="padding: 0">
                    <a class="nav-link text-white" asp-controller="Payments" asp-action="PayForPayment" asp-route-id=@payment.Id>Pay</a>
                </button>
            }
            else
            {
                <button type="button" class="btn m-lg-2 btn-secondary rounded-3" style="padding: 0">
                    <a class="nav-link text-white" asp-controller="Payments" asp-action="UndoPayment" asp-route-id=@payment.Id>Undo Payment</a>
                </button>
            }
            <br />
            counter++;
        }
    <hr style="margin:auto" width="40%"/>
    }
</div>
