@model HistoryViewModel

@{
    ViewBag.Title = "History";
    ViewData["Title"] = ViewBag.Title;
}

<h1>History</h1>


<div class="">
    <form id="history" method="post">
        <hr />
        <div class="row">
            <div class="text-left col-sm-auto">
            <label asp-for="@Model.SearchMonth" class="form-label">Month</label>
            <input asp-for="@Model.SearchMonth" min="01" max="12" class="form-control" value="00" aria-required="true" />
            <span asp-validation-for="SearchMonth" class="text-danger"></span>
            </div>
            <div class="text-left col-sm-auto">
            <label asp-for="@Model.SearchYear" class="form-label">Year</label>
            <input asp-for="@Model.SearchYear" min="0001" max=@DateTime.Now.Year class="form-control" value="2022" aria-required="true" />
            <span asp-validation-for="SearchYear" class="text-danger"></span>
            </div>
            <button type="submit" class="btn m-lg-2 btn-secondary rounded col-sm-auto" style="padding: 0">
                <a class="nav-link text-white">Submit</a>
            </button>
        </div>
    </form>
</div>

@{
    if (@Model.Result != null)
    {
        for (int i = 0; i < @Model.Result.PaymentsInfo.Count(); i++)
        {
            var paymentType = @Model.Result.PaymentsInfo.ElementAt(i);
    <div class="card" style="width:18rem">
                <div class="card-header">@ViewBag.Title</div>
                    <ul class="list-group list-group-flush">
                        @{
                        var counter = 1;
                        }
                        @foreach (var payment in paymentType.CurrentPayments)
                    {
                            <li class="list-group-item">
                                N.@counter: @payment.Name
                            </li>
                        counter++;
                    }
                    </ul>
    </div>
        }
    }
}


